@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900|Roboto:300,400,900|Playfair+Display);

/***** Variables *****/
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: 'Playfair Display', serif;
$brand-primary: #97ca00;
$brand-secondary: #fff;
$brand-tertiary: #000;
$brand-red: #e80f42;
$brand-blue: #00a8e2;
$text-dark: #2c292a;
$text-gray: #4d4d4d;

/***** Resets *****/
* {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
	margin: 0;
}

ul { padding: 0; margin: 0; list-style: none; }

a, a:hover, a:visited, a:focus { text-decoration: none; }

/***** General Styles *****/
body {
	font-family: $font-primary;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.btn-custom {
	font-family: $font-primary;
	font-weight: 400;
	text-transform: uppercase;
	color: $brand-secondary;
	background: $brand-primary;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		color: $brand-primary;
		background: $brand-secondary;
	}
}

.clearfix {
	clear: both;
}

.visible-desktop,
.visible-tablet,
.visible-mobile {
	display: none !important;
}

@media screen and (min-width: 1921px) {
	.btn-custom {
		font-size: 0.67vw;
		width: 10.41vw;
		height: 2.08vw;
	}
}

@media screen and (min-width: 1001px) {
	.visible-desktop {
		display: block !important;
	}

	.hidden-desktop {
		display: none !important;
	}
}

@media screen and (min-width: 641px) and (max-width: 1000px) {
	.visible-tablet {
		display: block !important;
	}

	.hidden-tablet {
		display: none !important;
	}
}

@media screen and (max-width: 640px) {
	.visible-mobile {
		display: block !important;
	}

	.hidden-mobile {
		display: none !important;
	}
}

/***** Mixins *****/
@mixin flex-centered {
	display: flex;
	align-items: center;
}

@mixin absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}