@import "general.scss";

/***** Main Menu *****/
#main-menu-wrapper {
	position: fixed;
	@include flex-centered;
	justify-content: center;
	top: 0;
	background-color: $brand-tertiary;
	text-transform: uppercase;
	width: 100%;
	height: 3.90vw;
	z-index: 99;

	.logo-wrapper {
		position: absolute;
		left: 2.08vw;
		width: 100%;

		.hrtech-logo {
			width: 12.5vw;
		}
	}

	#desktop-menu {
		.desktop-menu-item {
			display: inline-block;
			position: relative;
			font-size: 0.67vw;
			font-weight: 400;
			margin: 0 1.56vw;

			> a {
				color: $brand-secondary;
				transition: all 0.3s;

				&:hover {
					color: $brand-primary;
				}
			}

			&.dropdown {
				.dropdown-wrapper {
					position: absolute;
					top: 0.83vw;
					left: 50%;
					transform: translateX(-50%);
					visibility: hidden;
					opacity: 0;
	            	transition: all 0.35s;
					padding-top: 1.35vw;
					cursor: pointer;

					.dropdown-menu {
						min-width: 10.41vw;
						border-top: 0.15vw solid rgba(0, 0, 0, 0.1);
						background: $brand-secondary;
						box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
						padding: 0.31vw 0;

	            		> li {
	            			> a {
	            				display: block;
	            				color: $text-dark;
								font-weight: 500;
	    						font-size: 0.67vw;
	    						padding: 0.31vw 0.93vw;
	    						transition: all 0.35s;

	    						.event-details {
	    							font-size: 0.41vw;

	    							.event-city {
	    								&.red {
	    									color: $brand-red;
	    								}

	    								&.blue {
											color: $brand-blue;
	    								}
	    							}
	    						}

	    						&:hover {
	    							color: $brand-secondary;
	    							background-color: $brand-primary;

	    							.event-date {
	    								color: $brand-secondary;
	    								transition: all 0.35s;
	    							}
	    						}
	            			}
	            		}
					}
				}

				&:hover {
					.dropdown-wrapper {
						visibility: visible;
						opacity: 1;
						transform: translateX(-70%);
					}
				}
			}
		}
	}

	#mobile-menu-trigger {
		display: none;
		position: relative;
		width: 26px;
		height: 18px;
		right: 14px;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: $brand-secondary;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 7px;
			}

			&:nth-child(4) {
				top: 14px;
			}

		}

		&.open {
			span {
				&:nth-child(1) {
					top: 7px;
					width: 0%;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 7px;
					width: 0%;
					left: 50%;
				}
			}
		}
	}

	#mobile-menu {
		display: none;
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding-top: 85px;
	    background-color: $brand-tertiary;
	    text-align: center;
	    transform: translateX(150vw);
    	transition: transform 0.4s ease-in-out;
	    z-index: -1;

	    &.active {
			transform: translateX(0);
		}

		li {
			display: block;
		}

		.mobile-menu-content {
			position: relative;

			.mobile-main-menu {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			.mobile-submenu {
				visibility: hidden;
				opacity: 0;
				transition: all 0.5s;

				&.visible {
					visibility: visible;
					opacity: 1;
				}

				.event-details {
					font-size: 8px;

					.event-city {
						&.red {
							color: $brand-red;
						}

						&.blue {
							color: $brand-blue;
						}
					}
				}
			}
		}

		.mobile-menu-item {
			font-size: 13.5px;
			font-weight: 500;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&.head-item {
				color: $brand-primary;
				margin-bottom: 45px;
			}

			&.return {
				display: inline-block;
				color: $text-gray;
				margin-top: 50px;
				cursor: pointer;
			}

			&.button {
				margin-bottom: 30px;
			}

			a {
				color: $brand-secondary;
				transition: all 0.3s;

				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
}

/***** Header *****/
header {
	position: relative;
	background: url(../img/bg/bg-header-lg.jpg) no-repeat center top / cover;
	padding-top: 57.7083%;
	transition: all 0.75s ease-in-out;

	#header-top {
		position: absolute;
		top: 15.31vw;
		width: 100%;

		h1 {
			display: inline-block;
			position: relative;
			font: 400 5.729vw $font-tertiary;
			color: $brand-secondary;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

			span {
				position: absolute;
				font-size: 2.031vw;
				text-align: left;
				width: fit-content;

				&:first-of-type {
					left: 18%;
				}

				&:last-of-type {
					bottom: -17%;
					left: 19%;
					width: 105%;
				}
			}
		}
	}

	#header-bottom {
		position: absolute;
		bottom: 4.166vw;
		width: 100%;

		h2 {
			font-size: 1.71vw;
			font-weight: 900;
			color: $brand-secondary;
			margin-bottom: 0.78vw;
		}

		button {
			&:first-of-type {
				color: $brand-primary;
				background-color: $brand-secondary;
				margin-right: 1.35vw;

				&:hover {
					color: $brand-secondary;
					background: $brand-primary;
				}
			}
		}

		.sponsors-brands {
			a {
				display: inline-block;
				line-height: 0;
				vertical-align: middle;
				margin-top: 4.42vw;

				.avature-logo {
					width: 4.83vw;
				}

				.benify-logo {
					width: 6.35vw;
				}

				.cornerstone-logo {
					width: 7.23vw;
				}

				.ibm-logo {
					width: 3.69vw;
				}

				.oracle-logo {
					width: 5.36vw;
				}

				.sapsuccessfactors-logo {
					width: 12.29vw;
				}

				&:not(:last-child) {
					margin-right: 2.18vw;
				}
			}
		}
	}

	.header-featured {
		position: absolute;
		bottom: 4.01vw;
		color: $brand-secondary;

		span {
			font-size: 1.25vw;
			font-weight: 300;
		}

		h3 {
			font-size: 1.71vw;
			font-weight: 700;
		}

		&.left {
			left: 6.25vw;
		}

		&.right {
			right: 6.25vw;
		}
	}
}

/***** Future of Work Section *****/
#future-work {
	text-align: center;
	padding: 3.90vw 1.19vw 3.90vw;
	overflow: hidden;

	#future-work-icons {
		li {
			display: inline-block;
			width: 1.66vw;
			height: 1.66vw;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: contain;
			vertical-align: middle;
			transition: all 0.3s;
			transform: scale(1);
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 1.66vw;
			}

			.icon-pop-up {
				position: absolute;
				font: 400 0.41vw $font-secondary;
				background-color: rgba(0, 0, 0, 0.05);
				width: 6.77vw;
				line-height: 0;
				padding: 0.57vw 0;
				top: -60%;
				left: 50%;
				transform: translate(-50%, 0%);
				visibility: hidden;
				opacity: 0;
	            transition: all 0.35s;

	    		.pop-up-arrow {
	    			position: relative;
	    			width: 100%;
	    			height: 100%;

	    			&:before {
		            	position: absolute;
		            	content: '';
		            	bottom: -1.6145833333333335vw;
		            	left: 50%;
		            	width: 0;
		            	height: 0;
		            	border-left: 0.52vw solid transparent;
						border-right: 0.52vw solid transparent;
						border-bottom: 0.52vw solid transparent;
						border-top: 0.52vw solid rgba(0, 0, 0, 0.05);
						transform: translateX(-50%);
	            	}
	    		}
			}

			&:hover {
				transform: scale(1.5);

				.icon-pop-up {
					visibility: visible;
					opacity: 1;
					transform: translate(-50%, -80%);
				}
			}
		}

		#icon-home {
			background-image: url(../img/icons/home-icon.svg);

			&:hover {
				background-image: url(../img/icons/home-icon-color.svg);
			}

			.icon-pop-up {
				color: #97ca00;
			}
		}

		#icon-mainstage {
			background-image: url(../img/icons/mainstage-icon.svg);

			&:hover {
				background-image: url(../img/icons/mainstage-icon-color.svg);
			}

			.icon-pop-up {
				color: #18a7e0;
			}
		}

		#icon-talent-recruitment {
			background-image: url(../img/icons/talent&recruitment-icon.svg);

			&:hover {
				background-image: url(../img/icons/talent&recruitment-icon-color.svg);
			}

			.icon-pop-up {
				color: #57b1b8;
			}
		}

		#icon-learning {
			background-image: url(../img/icons/learning-icon.svg);

			&:hover {
				background-image: url(../img/icons/learning-icon-color.svg);
			}

			.icon-pop-up {
				color: #00a29a;
			}
		}

		#icon-diversity-inclusion {
			background-image: url(../img/icons/diversity&inclusion-icon.svg);

			&:hover {
				background-image: url(../img/icons/diversity&inclusion-icon-color.svg);
			}

			.icon-pop-up {
				color: #3b8954;
			}
		}

		#icon-communication {
			background-image: url(../img/icons/communication-icon.svg);

			&:hover {
				background-image: url(../img/icons/communication-icon-color.svg);
			}

			.icon-pop-up {
				color: #3c6e87;
			}
		}

		#icon-adoption {
			background-image: url(../img/icons/adoption-icon.svg);

			&:hover {
				background-image: url(../img/icons/adoption-icon-color.svg);
			}

			.icon-pop-up {
				color: #81b041;
			}
		}

		#icon-hrss-payroll {
			background-image: url(../img/icons/hrss&payroll-icon.svg);

			&:hover {
				background-image: url(../img/icons/hrss&payroll-icon-color.svg);
			}

			.icon-pop-up {
				color: #809453;
			}
		}

		#icon-disrupthr {
			background-image: url(../img/icons/disrupthr-icon.svg);

			&:hover {
				background-image: url(../img/icons/disrupthr-icon-color.svg);
			}

			.icon-pop-up {
				color: #cca82e;
			}
		}

		#icon-hrtechnology {
			background-image: url(../img/icons/hrtechnology-icon.svg);

			&:hover {
				background-image: url(../img/icons/hrtechnology-icon-color.svg);
			}

			.icon-pop-up {
				color: #bb6e3d;
			}
		}

		#icon-formal {
			background-image: url(../img/icons/formal-icon.svg);

			&:hover {
				background-image: url(../img/icons/formal-icon-color.svg);
			}

			.icon-pop-up {
				color: #1f5c99;
			}
		}

		#icon-wellbeing-rewards {
			background-image: url(../img/icons/wellbeing&rewards-icon.svg);

			&:hover {
				background-image: url(../img/icons/wellbeing&rewards-icon-color.svg);
			}

			.icon-pop-up {
				color: #a92a31;
			}
		}

		#icon-woman {
			background-image: url(../img/icons/woman-icon.svg);

			&:hover {
				background-image: url(../img/icons/woman-icon-color.svg);
			}

			.icon-pop-up {
				color: #c963c4;
			}
		}

		#icon-productdemo {
			background-image: url(../img/icons/productdemo-icon.svg);

			&:hover {
				background-image: url(../img/icons/productdemo-icon-color.svg);
			}

			.icon-pop-up {
				color: #e41a52;
			}
		}

		#icon-digitalhr {
			background-image: url(../img/icons/digitalhr-icon.svg);

			&:hover {
				background-image: url(../img/icons/digitalhr-icon-color.svg);
			}

			.icon-pop-up {
				color: #ee2a7b;
			}
		}

		#icon-smartdata {
			background-image: url(../img/icons/smartdata-icon.svg);

			&:hover {
				background-image: url(../img/icons/smartdata-icon-color.svg);
			}

			.icon-pop-up {
				color: #8a5ea4;
			}
		}

		#icon-messagespread {
			background-image: url(../img/icons/messagespread-icon.svg);

			&:hover {
				background-image: url(../img/icons/messagespread-icon-color.svg);
			}

			.icon-pop-up {
				color: #ef993a;
			}
		}

		#icon-thinktank {
			background-image: url(../img/icons/thinktank-icon.svg);

			&:hover {
				background-image: url(../img/icons/thinktank-icon-color.svg);
			}

			.icon-pop-up {
				color: #3f80c2;
			}
		}

		#icon-thinktank2 {
			background-image: url(../img/icons/thinktank2-icon.svg);

			&:hover {
				background-image: url(../img/icons/thinktank2-icon-color.svg);
			}

			.icon-pop-up {
				color: #3f80c2;
			}
		}

		#icon-thinktank3 {
			background-image: url(../img/icons/thinktank3-icon.svg);

			&:hover {
				background-image: url(../img/icons/thinktank3-icon-color.svg);
			}

			.icon-pop-up {
				color: #3f80c2;
			}
		}
	}

	#future-work-summary {
		margin: 3.12vw 0 3.64vw;

		h2 {
			font-size: 1.66vw;
			font-weight: 900;
			color: $brand-primary;
			margin-bottom: 1.56vw;
		}

		p {
			font: 400 0.72vw $font-secondary;
			color: #000;
			line-height: 1.25vw;
			max-width: 37.5vw;
			margin-left: auto;
			margin-right: auto;

			&:not(:last-of-type) {
				margin-bottom: 1.40vw;
			}
		}
	}

	.btn-custom {
		color: $brand-primary;
		background: $brand-secondary;
		border: 0.05vw solid $brand-primary;

		&:hover {
			color: $brand-secondary;
			background: $brand-primary;
		}

		&:first-of-type {
			margin-right: 0.78vw;
		}
	}
}

/***** Who Attends Our Events Section *****/
#attendees {
	text-align: center;
	background-color: $brand-tertiary;
	padding: 2.96vw 1.19vw;

	#attendees-heading {
		font-size: 1.66vw;
		font-weight: 900;
		color: $brand-primary;
		margin-bottom: 1.30vw;
	}

	#attendees-description {
		font: 400 0.72vw $font-secondary;
		color: #fff;
		line-height: 1.25vw;
		opacity: 0.7;
		max-width: 28.64vw;
		margin-left: auto;
		margin-right: auto;
	}

	#attendees-cards {
		display: flex;
		flex-wrap: wrap;
		width: 65.10vw;
		margin: 3.12vw auto 0;

		.attendee-card {
			width: 20%;
			padding: 0.26vw;

			.attendee {
				position: relative;
				color: $brand-secondary;

				.attendee-info {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 2.86vw;
					background-color: rgba(0, 0, 0, 0.6);
					padding: 0.26vw;

					.attendee-occupation {
						font-size: 0.52vw;
						font-weight: 400;
					}
				}

				.attendee-avatar {
					width: 100%;
				}

				.attendee-info,
				.attendee-info-expanded {
					.attendee-name {
						font-size: 0.67vw;
						font-weight: 500;
						margin-bottom: 0.10vw;
					}
				}

				.attendee-info-expanded {
					display: flex;
					flex-direction: column;
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					text-align: left;
					background-color: $brand-primary;
					padding: 0.36vw 0.52vw;
					z-index: 5;
					opacity: 0;
					transition: opacity 0.45s ease-in-out;

					.attendee-occupation {
						font: 400 0.57vw $font-secondary;
						line-height: 0.72vw;
					}

					.attendee-summary {
						font-size: 0.57vw;
						line-height: 0.78vw;
						margin-top: 0.52vw;
					}

					.attendee-links {
						margin: auto 0 0;

						a {
							margin-right: 0.93vw;

							i {
								font-size: 0.83vw;
								color: $brand-secondary;

								&:hover {
									color: $brand-tertiary;
								}
							}
						}
					}
				}

				&:hover {
					.attendee-info-expanded {
						opacity: 1;
					}
				}
			}
		}
	}

	.btn-custom {
		margin-top: 1.40vw;
	}
}

/***** Media Queries *****/
@media screen and (max-width: 1920px) {
	#main-menu-wrapper {
		height: 75px;

		.logo-wrapper {
			left: 40px;

			.hrtech-logo {
				width: 240px;
			}
		}

		#desktop-menu {
			.desktop-menu-item {
				font-size: 13px;
				margin: 0 30px;

				&.dropdown {
					.dropdown-wrapper {
						top: 16px;
						padding-top: 26px;

						.dropdown-menu {
							min-width: 200px;
							border-top-width: 3.5px;
							padding: 6px 0;

							> li {
	            				> a {
									font-size: 13.5px;
	    							padding: 6px 18px;

									.event-details {
	    								font-size: 8px;
	    							}
	    						}
	    					}
						}
					}
				}
			}
		}
	}

	header {
		#header-bottom {
			h2 {
				font-size: 33px;
				margin-bottom: 15px;
			}

			button {
				&:first-of-type {
					margin-right: 26px;
				}
			}
		}
	}

	.btn-custom {
		font-size: 13px;
		width: 200px;
		height: 40px;
	}

	#future-work {
		padding: 75px 23px 75px;

		#future-work-icons {
			li {
				width: 32px;
				height: 32px;

				&:not(:last-child) {
					margin-right: 32px;
				}

				.icon-pop-up {
					font-size: 8px;
					width: 130px;
					padding: 11px 0;

 					.pop-up-arrow {
						&:before {
							bottom: -31px;
							border-width: 10px;
						}
					}
				}
			}
		}

		#future-work-summary {
			margin: 60px 0 70px;

			h2 {
				font-size: 32px;
				margin-bottom: 30px;
			}

			p {
				font-size: 14px;
				line-height: 24px;
				max-width: 720px;

				&:not(:last-of-type) {
					margin-bottom: 27px;
				}
			}
		}

		.btn-custom {
			border-width: 1px;

			&:first-of-type {
				margin-right: 15px;
			}
		}
	}

	#attendees {
		padding: 57px 23px;

		#attendees-heading {
			font-size: 32px;
			margin-bottom: 25px;
		}

		#attendees-description {
			font-size: 14px;
			line-height: 24px;
			max-width: 550px;
		}

		#attendees-cards {
			width: 1250px;
			margin: 60px auto 0;

			.attendee-card {
				.attendee {
					.attendee-info {
						height: 55px;
						padding: 5px;

						.attendee-occupation {
							font-size: 10px;
						}
					}

					.attendee-info,
					.attendee-info-expanded {
						.attendee-name {
							font-size: 13.5px;
							margin-bottom: 2px;
						}
					}

					.attendee-info-expanded {
						padding: 7px 10px;

						.attendee-occupation {
							font: 400 11px $font-secondary;
							line-height: 14px;
						}

						.attendee-summary {
							font-size: 11px;
							line-height: 15px;
							margin-top: 10px;
						}

						.attendee-links {
							a {
								margin-right: 18px;

								i {
									font-size: 16.5px;
								}
							}
						}
					}
				}
			}
		}

		.btn-custom {
			margin-top: 27px;
		}
	}
}

@media screen and (max-width: 1600px) {
	#main-menu-wrapper {
		justify-content: flex-end;
	}
}

@media screen and (max-width: 1320px) {
	#main-menu-wrapper {
		.logo-wrapper {
			left: 20px;
		}

		#desktop-menu {
			display: none;
		}

		#mobile-menu-trigger,
		#mobile-menu {
			display: block;
		}
	}

	#future-work {
		#future-work-icons {
			display: none;
		}

		#future-work-summary {
			margin-top: 0;
		}
	}

	#attendees {
		#attendees-cards {
			width: 100%;

			.attendee-card {
				width: 25%;

				.attendee {
					.attendee-info {
						height: 5.85vw;

						.attendee-name {
							font-size: 1.43vw;
						}

						.attendee-occupation {
							font-size: 0.91vw;
						}
					}

					.attendee-info-expanded {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	header {
		background: url(../img/bg/bg-header-sm.jpg) no-repeat center top / cover;
		padding-top: 80.1%;

		#header-top {
			top: 19.53vw;

			h1 {
				font-size: 7.16vw;

				span {
					font-size: 2.47vw;
				}
			}
		}

		#header-bottom {
			bottom: 4.94vw;

			h2 {
				font-size: 4.55vw;
			}

			.sponsors-brands {
				a {
					margin-top: 4.94vw;

					.avature-logo {
						width: 10.80vw;
					}

					.benify-logo {
						width: 13.67vw;
					}

					.cornerstone-logo {
						width: 15.49vw;
					}

					.ibm-logo {
						width: 7.55vw;
					}

					.oracle-logo {
						width: 10.15vw;
					}

					.sapsuccessfactors-logo {
						width: 26.30vw;
					}

					.workday-logo {
						width: 9.375vw;
					}

					&:not(:last-child) {
						margin-right: 4.81vw;
					}

					&:nth-of-type(4) {
						margin-right: 0;
					}
				}
			}
		}

		.header-featured {
			top: 10.67vw;
			bottom: initial;

			span {
				font-size: 1.56vw;
			}

			h3 {
				font-size: 2.08vw;
			}

			&.left {
				left: 9.375vw;
			}

			&.right {
				right: 6.90vw;
			}
		}
	}

	#future-work {
		padding: 30px 23px 34px;

		#future-work-summary {
			margin-bottom: 32px;

			h2 {
				font-size: 23px;
				margin-bottom: 27px;
			}

			p {
				font-size: 12px;
				line-height: 22px;

				&:not(:last-of-type) {
					margin-bottom: 25px;
				}
			}
		}
	}

	#attendees {
		padding: 35px 2.99vw 40px;

		#attendees-heading {
			font-size: 23px;
		}

		#attendees-description {
			font-size: 12px;
			max-width: 480px;
			opacity: 1;
		}

		#attendees-cards {
			margin-top: 30px;
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: 640px) {
	#main-menu-wrapper {
		.logo-wrapper {
			left: 17px;
		}
	}

	header {
		background: url(../img/bg/bg-header-xs.jpg) no-repeat center top / cover;
		padding-top: 242.81%;

		#header-top {
			top: 27.18vw;

			h1 {
				font-size: 10.93vw;

				span {
					font-size: 3.75vw;
				}
			}
		}

		#header-bottom {
			bottom: 6.56vw;

			h2 {
				font-size: 6.7vw;
				margin-bottom: 0;
			}

			h3 {
				font-size: 4.74vw;
				font-weight: 300;
				color: $brand-secondary;
				margin-bottom: 9.68vw;
			}

			.btn-wrapper {
				@include flex-centered;
				flex-direction: column-reverse;

				button {
					margin-right: 0;

					&:last-child {
						margin-bottom: 5.62vw;
					}
				}
			}

			.sponsors-brands {
				padding: 0 11.87vw;
				margin-top: 4.68vw;

				a {
					margin-top: 7.81vw;
					margin-right: 0 !important;

					.avature-logo {
						width: 25.93vw;
					}

					.benify-logo {
						width: 32.81vw;
					}

					.cornerstone-logo {
						width: 37.18vw;
					}

					.ibm-logo {
						width: 18.12vw
					}

					.oracle-logo {
						width: 22.81vw;
					}

					.sapsuccessfactors-logo {
						width: 34.06vw;
					}

					.workday-logo {
						width: 24.06vw;
					}

					&:nth-of-type(odd) {
						float: left;
						clear: both;
					}

					&:nth-of-type(even) {
						float: right;
					}

					&:nth-of-type(4) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		.header-featured {
			top: 89.06vw;
			bottom: initial;

			span {
				font-size: 3.75vw;
			}

			h3 {
				font-size: 5vw;
			}

			&.left {
				left: 6.56vw;
				text-align: left;
			}

			&.right {
				right: 6.56vw;
				text-align: right;
			}
		}
	}

	#future-work {
		#future-work-summary {
			margin-bottom: 60px;
		}

		.btn-wrapper {
			@include flex-centered;
			flex-direction: column;

			.btn-custom {
				margin-right: 0;

				&:first-child {
					margin-bottom: 5.62vw;
				}
			}
		}
	}

	#attendees {
		padding: 25px 0;

		#attendees-heading {

		}

		#attendees-description {
			padding: 0 20px;
		}

		#attendees-cards {
			padding: 0 0.93vw;
			margin-top: 28px;

			.attendee-card {
				width: 50%;
				padding: 0.93vw;

				.attendee {
					.attendee-info {
						height: 14.06vw;

						.attendee-name {
							font-size: 3.12vw;
						}

						.attendee-occupation {
							font-size: 2.18vw;
						}
					}

					.attendee-info-expanded {
						display: none;
					}
				}
			}
		}

		.btn-custom {
			margin-top: 0;
		}
	}
}

/* Adds scroll functionality when the screen height is smaller than the
 * mobile menu height
 */
@media screen and (max-height: 400px) {
	#mobile-menu {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}